doctype
html
    head
        title Ejemplo
        link(rel="stylesheet" href="styles.css")

    body
        // ===============================================
        // Start
        div
            p P치rrafo 1
            p P치rrafo 2
            p P치rrafo 3
            p P치rrafo 4
        // END
        // ===============================================

        script(src="script.js")

