extends /modules/pug/blocks/ejercicios
block pug_javascript
    -
        let titulo = "Ejemplo 1",
            formato = ""
        let codepen_list = [
            "vYEPxPX",
            "BaybRKr",
        ]
        nej = 1 // <== EXERCISE NUMBER - REPLACE IT
block pug_styles
    +new_style(`../styles.css`)
block html_javascript
    +new_script(`../scripts.js`)
block pug_contenido
    h2 Pseudoelemento :target
    h3 Ejemplo 1
    p Selecciona un elemento que haya sido seleccionado por id.
    .content-flex-code
        pre(style="display: block; width:100%"): code.hljs(style="height: 100%"): :highlight(lang="html")
            <a href="capitulo-5"> Capítulo 5 </a>
        pre(style="display: block; width:100%"): code.hljs(style="height: 100%"): :highlight(lang="css")
            p:target {
                color: red;
            }
    +codepen_flex_all("QWrwKGe")
    h3 Ejemplo 2
    +codepen_flex_all("WNJbGpq","html",300)
    +codepen_flex_all("vYjEyOM","html",400)
    h2 Pseudoelemento :not
    h3 Ejemplo 1
    +codepen_flex_all("QWrwGNK","html",400)
    h3 Ejemplo 2: Problema clásico de CSS, doble margin bottom 
    p Es buena práctica no definir márgenes superiores, solo márgenes inferiores (por colapsado de márgenes).
    +code_emb_source_u("ej-01", "400px")
    p: b SOLUCIÓN
    +codepen_flex_all("vYjEyXw","html",400)
    h2 Pseudoelemento :empty
    :markdown-it(html)
        También existe el Pseudoelemento `empty`, el cual hace referencia a los elementos qu están vacios.

        Se puede combinar con otros, como por ejemplo: 
        ```css
        div:not(:empty){
            ...
        }
        ```
        El cual afecta a todos los `div`s que no estén vacíos.
    h2 Pseudoelementos :last-of-type y :first-of-type
    :markdown-it
        Estos **solo** funcionan con elementos, es decir, etiquetas html.
    +codepen_flex_all("zYjxoza","html",400)
    h2 Pseudoelementos :nth-child, :nth-last-child, :nth-of-type, :nth-last-of-type
    +codepen_flex_all("oNdgYqR","html",400)
    h2 Trucos
    +codepen_flex_all("abGzBaP","html",400)
    
